
#White{
    color: white;
}

#Red{
    color: red;
}

#Purple{
    color: purple;
}

#Green{
    color: green;
}

#Shadow{
    text-shadow: 5px,1px;
}

.Blue{
    color: blue;
}

.Pos{
    position: relative;
    
}

#container{
    border: 5px, dashed, rgb(255, 255, 255);
}

#container p{
background-color: yellow;
}

#container2 > p{
    background-color: yellow;
    }

  #button:hover{
    background-color: blueviolet;
    
  }
  #li:hover{
    background-color: rgb(43, 165, 226);
    
  }
  #li:not(:hover){
    background-color: rgb(226, 43, 165);
    
  }
  #button:active{
    background-color: rgb(43, 226, 101);
    
  }

    


